<h1>Current Conditions:</h1>

<!-- Retreive the name of the city -->
<% city = params["city"] %>


<!-- Require Ruby libraries -->
<% require 'open-uri' %>
<% require 'json' %>


<% location = city %>


<% location = URI.escape(location) %>

<!-- Send an HTTP request to the OpenWeatherMap API -->
<% json_data = open("http://api.openweathermap.org/data/2.5/weather?q=#{location}&units=imperial").read %>


<!-- Parse Json Data -->
<% data = JSON.parse(json_data) %>



<!-- Check if city if valid or not -->
<% if data["cod"].to_i == 200 %>
  <% temp = data["main"]["temp"] %>
  <% temp_min = data["main"]["temp_min"] %>
  <% temp_max = data["main"]["temp_max"] %>
  <p>
  <%= "It is currently #{temp} degrees in #{city}." %>
  </p>
  <p>
  <%= "The Min temperature : #{temp_min}" %>
  </p>
  <p>
  <%= "The Max temperature : #{temp_max}" %>
  </p>
<% else %>
  <!-- If the city is invalid ask to enter valid city -->
  <p>
  <%= "Please enter a valid city." %>
  </p>
<% end %>