<form action="/contact_submitted">

<!-- Request the first name and the last name of the user using the form -->
<p> First Name : <input type="text" name="firstname"></p> 
<p> Last Name : <input type="text" name="lastname"></p>
<input type="submit">

</form>