<h1>Get Your Weather Forecast</h1>
<form action="/current_conditions">


<!-- Requesting the user for a city name and making that input required -->
<p> City : <input type="text" name="city" required></p>
<input type="submit">

</form>